<!-- Page with Menu and Summary Cart -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Order Page</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/orderMenu.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/routes/orderPage.js"></script>

      <!-- App JS -->
      <script type="module" src="/scripts/order.js"></script>

  </head>

  <body >
    <!---nav for the order page-->
    <nav>
      <div class="content-left">
        <img src="/images/coffee-beans.png" class="logo" />
        <div class="title">
          <span>Mocha </span>
          <span>& Chai</span>
        </div>
        <ul class="nav-links">
          <li><a href="#about-us-container">About</a></li>
          <li><a href="#contact-us-container">Contact us</a></li>
          <li><a href=#>Menu</a></li>
        </ul>
      </div>
      <button type="button" class="btn btn-dark" data-mdb-ripple-color="dark">
        Order Now
      </button>
    </nav>

<!---image for the order page-->
<header>
    <section>
      <div >
         <img id="Header-Photo-MenuPage" src="/images/menu_images/orderMenuPhoto.jpg" />
      </div>
    </section>
</header>

<!--Section: Content-->

<% menuArray.forEach( (item)=>{     %>
  <section>
    <div class="col-lg-6 col-md-6 mb-4"  >
                <div class="card flex-row">
                <div class="bg-image hover-overlay ripple col-lg-6" data-mdb-ripple-color="light">
                <img src="<%= item.url %>" class="img-fluid" />
                <a href="#!">
                <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                </a>
                </div>
                <div class="card-body">
                  <div>
                <h5 class="card-title"><%= item.title %></h5>
                <p class="card-text">
                  <%= item.description %>
                </p>
                <p class= "price-text">
                  $<%= item.price %> </p>
                <button type="button" id="<%= item.id%>" class="add-to-cart btn btn-primary"> Add to Cart </button>
                <form>
                <label for="quantity"> Qty: </label>
                <input min="1" type="number" class="quantity" id="<%= item.id%>" name="quantity" value="1" />
                <form>
                </div>
                </div>
                </div>
    </div>
    </section>
      <% } ); %>


      <div class="row justify-content-around">
        <div class="col-md-5">
            <div class="card border-0">
                <div class="card-header pb-0">
                    <h2 class="card-title space ">Your Order</h2>
                    <h6>Location</h6>
              <p>
                Bisha Hotel Ground Floor 80 Blue Jays Way Toronto, On M5V 2G3
              </p>
                <p>Order #</p>
                    <p class="card-text text-muted mt-4 space"></p>
                    <hr class="my-0">
                    <div id="order-list"></div>
                    <div><form >
                        <input
                        type="text"
                        name="first_name"
                        placeholder="First name"
                        />

                        <input
                        type="text"
                        name="last_name"
                        placeholder="Last name"
                        />

                        <input
                          type="email"
                          name="email"
                          aria-describedby="emailHelp"
                          placeholder="Email"
                          />

                          <input
                          type="text"
                          name="phone_no"
                          placeholder="Phone number"
                          required
                          />
                          </form>
                          </div>

                    <p class="Total_Summary"> Total</p>
                    <button class="Order_button"type="button"> Order </button>
                </div>
                </div>
            </div>
        </div>

  </body>
</html>
