<!-- OrderSummary Page for Resturant -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="/images/coffee-beans-white.png" />
    <title>Mocha and Chai</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap"
      rel="stylesheet"
    />

    <!-- Bootstrap -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/footer.css" type="text/css" />
    <link rel="stylesheet" href="/styles/main.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/restaurantowner.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/routes/resturantPage.js"></script>
  </head>

  <body>
    <nav>
      <div class="content-left">
        <img src="/images/coffee-beans.png" class="logo" />
        <a href="/">
          <div class="title">
            <span>Mocha </span>
            <span>& Chai</span>
          </div>
        </a>
      </div>
      <a href="/login">
        <button type="button" class="btn btn-dark" data-mdb-ripple-color="dark">
          Logout
        </button>
      </a>
    </nav>

    <div class="header-image">
      <img src="/images/coffee.png" />
    </div>
    <% if (length > 0) { %>
    <div class="main-container">
      <div class="OrderSummary">
        <h6>
          Order # <span id="order_no"><%= dataArray[0].orders_id %></span>
        </h6>
        <span class="text-muted">
          Date: <%= (new
          Date(dataArray[0].order_date).toLocaleDateString('fr-CA')) %></span
        >
        <br />
        <br />
        <h7 class="bold">Order:</h7>
        <% dataArray.forEach( (item)=>{ %>
        <div class="OrderItems">
          <tr>
            <td><%=item.qty%></td>
            <td></td>
            <td><%=item.product_name%></td>
          </tr>
        </div>
        <% } ); %>
        <br />
        <h7 class="mb-3">
          Order Total:
          <span class="total">$<%=dataArray[0].total%>.00 </span></h7
        >
      </div>

      <div class="CustomerSummary">
        <h6><%=dataArray[0].first_name%> <%=dataArray[0].last_name%></h6>
        <h7 class="text-muted"> <%=dataArray[0].phone_no%></h7>
        <p class="text-muted"><%=dataArray[0].email%></p>
      </div>
      <form class="Actions" method="POST" action="/resturantPage">
        <input
          name="order_no"
          value="<%=dataArray[0].orders_id %>"
          type="hidden"
        />
        <div class="AcceptReject">
          <div class="Accept">
            <!-- Accept Button -->
            <button
              type="submit"
              name="acceptButton"
              class="acceptbutton"
              value="true"
            >
              Accept
            </button>
          </div>
          <div class="Reject">
            <!-- Reject Button -->
            <button
              type="submit"
              name="rejectButton"
              class="rejectbutton"
              value="true"
            >
              Reject
            </button>
          </div>
        </div>

        <form name = "Actions" class = "Actions" method="POST" action="/resturantPage">
            <input name="order_no" value = <%=dataArray[0].orders_id %> type="hidden" />
            <div class="AcceptReject">
                  <div class="Accept">
                    <!-- Accept Button -->
                    <button type="submit" name="acceptButton" class="acceptbutton" value="true">Accept </button>

                  </div>
                  <div class="Reject">
                    <!-- Reject Button -->
                    <button type="submit" class="rejectbutton" value ="true">Reject</button>
                    <input name="rejectButton" type="hidden" />
                  </div>
            </div>
            <div class="EstimatedTime">
                  <label> Estimated Prep time: </label>
                  <input type="estimatedtime" name="estimatedtime" class="form-control" required />
            </div>
        </form>
        <script>
              let rejectButton = document.querySelector('.rejectbutton')
              rejectButton.addEventListener('click', e => {
                e.preventDefault();
              let estimatedtime = document.querySelector('input[name="estimatedtime"]');
              estimatedtime.removeAttribute("required");
              let form = document.querySelector('.Actions');
              let rejectinput = document.querySelector('input[name="rejectButton"]');
              rejectinput.setAttribute("value","true");
              form.submit();
              })
        </script>
    </div>
    <% } else { %>
    <br />
    <div class="orders-container">
      <h6 class="NoOrders">No orders to accept at the moment!</h6>
    </div>
    <br />
    <% } %>
    <div class="page_end">
      <img class="footer-img" src="/images/latte-three.jpeg" />
      <footer><span>© 2021 by Mocha + Chai. All rights reserved.</span></footer>
    </div>
  </body>
</html>
